$primary: #195BFF;
$gray: #AAAAAA;
$color-gradient: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
$border-radius:37px;
$body-02: 16px;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    color: #060605;
}
p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
}
button {
    outline: none;
    border: none;
    color: white;
    background-color:black;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.035em;
    line-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 48px;
    border-radius: $border-radius;
    width: 100%;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.02em;
} 
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
}
h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

}
a {
    color: black;
    text-decoration: none;
}
.hide-for-mobile {
    display: none;
}
.overflow-hidden {
    overflow: hidden;
}
.container {
    width: 95%;
    margin: 0 auto;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    .nav-background {
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 0;
    }
    .website-icon {
            width: 40px;
    }
   .menu-icon {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       
    .menu-line {
        width: 27px;
        height: 4px;
        background: #000000;
        border-radius: 4px;
    }
    .menu-line:nth-child(2) {
        margin: 3px 0;

    }
   }
   a {
       font-size: 14px;
       font-weight: bold;

   }
}
header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;


    h1 {
        text-align: center;
        background: $color-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    p {
        text-align: center;
        margin: 25px auto;
        max-width: 319px;
    }
    button {
        margin-bottom: 25px;

    }
    .numbers {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .num {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                margin: -5px;
                font-size: 14px;
                color: #464646;
            }
        }
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
h2 {
        text-align: center;
        background: $color-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inherit;
    }
    p {
        color: $gray;
        text-align: center;
        margin: 16px;
    }
    .cards {
        .card {
            margin: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
                text-align: center;
                margin: 20px 0;
            }
        }
    }
    .explore-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            margin: 30px 0;
        }
        h3 {
            font-size: 22px;
            text-align: center;

        }
        p {
            color: #1D1D1D;
            text-align: center;
            font-weight: 500;
            margin: 25px 0;

        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: $color-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inherit;
            font-weight: 500;
            font-size: 14px;
            img {
                margin: 0;
                margin-left: 5px;
            }

        }
    }
}