* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: #060605;
  overflow-x: hidden;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(312.16deg, #070718 19.71%, #40404F 93.55%);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.035em;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 48px;
  border-radius: 37px;
  width: 100%;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  letter-spacing: -0.02em;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

a {
  color: #1E1B1B;
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 95%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  width: 100%;
}

nav img {
  cursor: pointer;
}

nav .cta a {
  font-weight: 500;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

header .header-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  text-align: center;
  background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

header p {
  text-align: center;
  margin: 5vh auto;
  max-width: 319px;
}

header button {
  margin-bottom: 5vh;
}

header .numbers {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .numbers .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .numbers .num p {
  margin: -5px;
  font-size: 14px;
  color: #464646;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main h2 {
  text-align: center;
  background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inherit;
}

main p {
  color: #AAAAAA;
  text-align: center;
  margin: 16px;
}

main .cards .card {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cards .card p {
  max-width: 394px;
}

main .cards .card h3 {
  text-align: center;
  margin: 20px 0;
}

main .explore-section {
  width: 95%;
  padding: 55px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .explore-section p {
  color: #E9E9E9;
}

main .explore-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .explore-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .explore-card .explore-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .explore-card img {
  margin: 30px 0;
}

main .explore-card h3 {
  font-size: 22px;
  text-align: center;
  color: white;
}

main .explore-card p {
  color: #E9E9E9;
  text-align: center;
  font-weight: 500;
  margin: 25px 0;
}

main .explore-card a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 14px;
}

main .explore-card a img {
  margin: 0;
  margin-left: 5px;
}

main .cta-section {
  width: 95%;
}

main .cta-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0;
}

main .cta-card .cta-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cta-card .cta-card-content h2 {
  max-width: 354px;
}

main .cta-card .cta-card-content p {
  margin: 25px 0;
  width: 98%;
  max-width: 400px;
  color: #DFDFDF;
}

main .cta-card .cta-card-content button {
  margin-bottom: 25px;
  width: 55%;
  background: linear-gradient(92.05deg, #FFC83A -0.23%, #FF008A 44.41%, #6100FF 112.02%);
}

main .cta-card img {
  width: 250px;
  margin: 25px 0;
}

footer {
  position: relative;
  width: 100%;
  background: linear-gradient(312.16deg, #070718 19.71%, #40404F 93.55%);
  padding: 80px 0;
}

footer .nav-background {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

footer h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.045em;
  text-align: center;
  background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68px;
  width: 333px;
  margin: 40px auto;
}

footer input {
  position: absolute;
  padding-left: 12px;
  width: 333px;
  height: 68px;
  border: 2px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  background: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: black;
}

footer button {
  position: absolute;
  right: 2%;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  width: auto;
  width: 102.39px;
  height: 47px;
  background: #DA48FF;
}

footer input:focus {
  outline: 1px #6100FF;
  border: 2px solid #6100FF;
}

.hide-for-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-for-mobile {
    display: block;
  }
  .hide-for-tablet {
    display: none;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 82px;
    text-align: center;
    letter-spacing: -0.02em;
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 69px;
    text-align: center;
  }
  button {
    font-size: 22px;
    width: auto;
  }
  header p {
    font-size: 18px;
    max-width: 587px;
  }
  main p {
    font-size: 18px;
    max-width: 698px;
  }
  main .explore-card h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    max-width: 518px;
    margin: 0 auto;
  }
  main .explore-card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    max-width: 520px;
  }
  main .cta-card {
    padding: 60px 33px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .cta-card .cta-card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .cta-card .cta-card-content h2 {
    max-width: 353px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    text-align: left;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.045em;
  }
  main .cta-card .cta-card-content p {
    text-align: left;
  }
  main .cta-card img {
    width: 330px;
  }
  main .cards .card p {
    font-size: 16px;
  }
  main .cards .card h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
  }
  footer h3 {
    font-weight: bold;
    font-size: 46px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -0.045em;
  }
  footer form, footer input {
    width: 518px;
  }
}

@media screen and (min-width: 65em) {
  .container {
    width: 100%;
  }
  .nav-container {
    width: 100%;
  }
  nav {
    max-width: 1280px;
  }
  nav button {
    font-size: 16px;
    font-weight: 500;
    width: 136px;
    height: 47px;
    padding: 0;
  }
  nav .menu-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .menu-cta .menu {
    margin-right: 40px;
    border-right: 1px #AAAAAA solid;
  }
  nav .menu-cta .menu a {
    margin-right: 40px;
    font-weight: 500;
  }
  nav .menu-cta .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .menu-cta .cta a {
    margin-right: 40px;
    font-weight: 500;
  }
  .hide-for-mobile {
    display: block;
  }
  .hide-for-tablet {
    display: block;
  }
  .hide-for-desktop {
    display: none;
  }
  header {
    max-width: 1280px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header img {
    width: 648px;
  }
  header .header-content {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .header-content p {
    text-align: left;
    margin: 35px 0;
  }
  header .header-content h1 {
    text-align: left;
  }
  header .header-content button {
    margin-bottom: 35px;
  }
  main .explore-container > img {
    width: 500px;
    margin-right: 90px;
  }
  main .explore-container {
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .explore-container .explore-card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 45px;
  }
  main .explore-container .explore-card .explore-card-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .explore-container .explore-card h3, main .explore-container .explore-card p {
    text-align: left;
  }
  main .explore-container .explore-card a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
  main .cards {
    margin: 100px auto;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .cards .card {
    margin: 0 25px;
  }
  main .cta-section {
    width: 100%;
    max-width: 1280px;
  }
  main .cta-card {
    max-width: 1040px;
    padding: 0 33px;
    margin: 70px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .cta-card .cta-card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .cta-card .cta-card-content h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 45px;
    letter-spacing: -0.045em;
    max-width: 520px;
  }
  main .cta-card .cta-card-content p {
    max-width: 520px;
  }
  main .cta-card img {
    width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */