* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #252525;
}

.hide {
  display: none;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.035em;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 48px;
  border-radius: 32px;
  width: 100%;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 43px;
  text-align: center;
  letter-spacing: -0.02em;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.04em;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

a {
  color: #252525;
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}
nav img {
  cursor: pointer;
}
nav .cta a {
  font-weight: 500;
}
nav .cta button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  width: 153px;
  height: 48px;
  background: #195bff;
  border-radius: 32px;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
}
header p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  /* Gray/Dark :hover */
  color: #313234;
  max-width: 319px;
}
header button {
  background: #195bff;
  border-radius: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.035em;
  /* White */
  color: #ffffff;
}
header img {
  width: 456.38px;
  height: 482.5px;
}
header .numbers {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .numbers .num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .numbers .num h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  /* Gray/Dark :hover */
  color: #313234;
  margin-bottom: 8px;
}
header .numbers .num p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13.33px;
  line-height: 16px;
  text-align: center;
  /* Gray/Dark */
  color: #444649;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main h2 {
  color: #ffffff;
}
main .explore,
main .reviews {
  background-color: #252525;
}
main .explore-section {
  padding-top: 96px;
  display: flex;
  flex-direction: column;
}
main .explore-section h2 {
  margin-bottom: 16px;
}
main .explore-section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  color: #e9e9e9;
  margin: 0 auto;
  margin-bottom: 64px;
}
main .explore-section img {
  width: 1442px;
  height: 436px;
}
main .demo-section {
  margin: 136px auto;
}
main .demo-section .title-description {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1280px;
}
main .demo-section .title-description h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #252525;
}
main .demo-section .title-description h3 span {
  color: #195bff;
}
main .demo-section .title-description p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #313234;
  max-width: 516px;
}
main .demo-section .video-container {
  position: relative;
  overflow: hidden;
  margin-top: 56px;
}
main .demo-section .video-container .play-button {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: rgb(13, 99, 89);
  position: absolute;
}
main .cta-section {
  width: 100%;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 88px 112px;
  border-radius: 16px;
  max-width: 1280px;
}
main .cta-section h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: #ffffff;
  max-width: 414px;
}
main .cta-section h4 span {
  color: #195bff;
}
main .cta-section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #e9e9e9;
  max-width: 405px;
}
main .reviews-section {
  margin: 72px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
main .reviews-section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  color: #e9e9e9;
  margin-top: 16px;
}
main .reviews-section .reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 64px;
}
main .reviews-section .reviews-container .card-review {
  width: 330px;
  height: 240px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 12px;
  margin-left: 15px;
}
main .reviews-section .reviews-buttons {
  margin: 32px auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .reviews-section .reviews-buttons .lines {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .reviews-section .reviews-buttons .lines .slider-point {
  margin: 0px 12px;
  width: 45px;
  height: 6px;
  background: #dbdbdb;
  border-radius: 15px;
}
main .faqs-container {
  width: 100%;
  margin-top: 136px;
  margin-bottom: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .faqs-container h2 {
  color: #252525;
  margin-bottom: 24px;
}
main .faqs-container > p {
  margin-bottom: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #313234;
  text-align: center;
}
main .faqs-container > p a {
  text-decoration: underline;
}
main .faqs-container .faqs {
  width: 95%;
  max-width: 890px;
  margin: 0 auto;
}
main .faqs-container .faqs .question-border-wrap {
  cursor: pointer;
  padding: 2px 3px;
}
main .faqs-container .faqs .show-question {
  height: 100%;
  height: calc(0% + 50px) !important;
}
main .faqs-container .faqs .rotate-line {
  transform: rotate(90deg) !important;
}
main .faqs-container .faqs .question-border-wrap:not(:last-child) {
  margin-bottom: 24px;
}
main .faqs-container .faqs .question-container {
  height: 64px;
  overflow: hidden;
  background: #fcfcfc;
  outline: 1px solid #E0E0E0;
  border-radius: 8px;
}
main .faqs-container .faqs .question-container p.faqs-text {
  padding-left: 16px;
  color: #505050 !important;
}
main .faqs-container .faqs .question-container p {
  font-size: 14px;
  color: #353535;
  text-align: left;
  margin: 0 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
main .faqs-container .faqs .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .faqs-container .faqs .question p {
  margin: 16px;
  padding-bottom: 0;
  color: black;
}
main .faqs-container .faqs .question .plus {
  position: relative;
  cursor: pointer;
  margin-right: 24px;
  width: 16px;
  height: 16px;
}
main .faqs-container .faqs .question .plus .line:first-of-type {
  position: absolute;
  right: 7px;
  background-color: #195bff;
  width: 3px;
  height: 16px;
  border-radius: 3px;
  transform: rotate(90deg);
}
main .faqs-container .faqs .question .plus .line {
  background-color: #195bff;
  position: absolute;
  right: 7px;
  width: 3px;
  height: 16px;
  border-radius: 3px;
  transition: 200ms ease-in-out;
}

footer {
  position: relative;
  width: 100%;
  background: #252525;
  padding: 80px 0;
  padding-bottom: 25px;
}
footer .tobelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .tobelist p {
  margin-top: 16px;
  max-width: 95%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  line-height: 175%;
  /* or 32px */
  color: #e9e9e9;
}
footer .footer-link {
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 56px auto;
  justify-content: space-between;
  max-width: 95%;
}
footer .footer-link .team {
  margin: 0;
}
footer .footer-link .team,
footer .footer-link .company,
footer .footer-link .help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .footer-link p {
  margin-bottom: 24px;
  color: #eeeeee;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height, or 88% */
  text-transform: capitalize;
}
footer .footer-link a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  text-transform: capitalize;
  margin-bottom: 16px;
  color: #a0a0a0;
  transition: all 0.3s ease-in-out;
}
footer .footer-link a:hover {
  color: #eeeeee;
  text-decoration: underline;
}
footer .email-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 56px;
}
footer .email-cta p {
  margin-bottom: 22px;
  text-transform: capitalize;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #eeeeee;
}
footer .footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-end .additional-links {
  width: 95%;
  max-width: 1280px;
  border-top: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
}
footer .footer-end .additional-links p {
  font-size: 10px;
  color: #e9e9e9;
}
footer .footer-end .additional-links a {
  font-size: 10px;
  color: #e9e9e9;
  transition: all 0.3s ease-in-out;
}
footer .footer-end .additional-links a:hover {
  color: #eeeeee;
  text-decoration: underline;
}
footer .footer-end .additional-links a:first-of-type {
  margin-right: 5px;
}
footer form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  width: 95%;
}
footer input {
  position: absolute;
  padding-left: 24px;
  width: 95%;
  height: 64px;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 32px;
  background: none;
  transition: 0.2s ease-in-out;
  color: rgb(255, 255, 255);
}
footer input:focus {
  outline: 1px #fcfcfc;
  border: 2px solid #fcfcfc;
}
footer button {
  position: absolute;
  right: 4%;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  width: auto;
  padding: 16px 40px;
  width: 112px;
  height: 48px;
  background: #195bff;
  transition: 0.5s ease;
}

.hide-for-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-for-mobile {
    display: block;
  }
  .hide-for-tablet {
    display: none;
  }
  button {
    font-size: 22px;
    width: auto;
  }
  header p {
    font-size: 18px;
    max-width: 587px;
  }
  main p {
    font-size: 18px;
    max-width: 698px;
  }
  main .explore-card h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    max-width: 518px;
    margin: 0 auto;
  }
  main .explore-card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    max-width: 520px;
  }
  main .cta-card {
    padding: 60px 33px;
    flex-direction: row;
  }
  main .cta-card .cta-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  main .cta-card .cta-card-content h2 {
    max-width: 353px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    text-align: left;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.045em;
  }
  main .cta-card .cta-card-content p {
    text-align: left;
  }
  main .cta-card img {
    width: 330px;
  }
  main .reviews-section .reviews-container .card-review {
    margin-left: 30px;
    width: 390px;
    height: 240px;
  }
  footer .tobelist p {
    max-width: 90%;
  }
  footer .footer-link {
    justify-content: space-between;
    max-width: 80%;
  }
  footer .footer-end {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }
  footer .footer-end .additional-links {
    width: 95%;
    border-top: 1px solid #c4c4c4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 11px;
  }
  footer .footer-end .additional-links p {
    font-size: 10px;
    color: #e9e9e9;
  }
  footer .footer-end .additional-links a {
    font-size: 10px;
    color: #e9e9e9;
  }
  footer form,
footer input {
    width: 405px;
  }
  footer button {
    right: 2%;
  }
}
@media screen and (min-width: 65em) {
  .container {
    width: 100%;
  }
  .nav-container {
    width: 100%;
  }
  nav {
    max-width: 1280px;
  }
  nav button {
    font-weight: 500;
    padding: 16px 32px;
    width: 153px;
    height: 48px;
  }
  nav .menu-cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  nav .menu-cta .menu {
    margin-right: 40px;
    border-right: 1px #aaaaaa solid;
  }
  nav .menu-cta .menu a {
    margin-right: 40px;
    font-weight: 500;
  }
  nav .menu-cta .cta {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .menu-cta .cta a {
    margin-right: 40px;
    font-weight: 500;
  }
  .hide-for-mobile {
    display: block;
  }
  .hide-for-tablet {
    display: block;
  }
  .hide-for-desktop {
    display: none;
  }
  header {
    margin-top: 56px;
    margin-bottom: 112px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header img {
    width: 456.38px;
    height: 482.5px;
  }
  header .header-content {
    margin: 0;
    align-items: flex-start;
  }
  header .header-content > p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  header .header-content h1 {
    text-align: left;
  }
  header .header-content button {
    margin-bottom: 56px;
  }
  main .explore-container > img {
    width: 500px;
    margin-right: 90px;
  }
  main .explore-container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main .explore-container .explore-card {
    align-items: flex-start;
    margin-bottom: 45px;
  }
  main .explore-container .explore-card .explore-card-content {
    align-items: flex-start;
  }
  main .explore-container .explore-card h3,
main .explore-container .explore-card p {
    text-align: left;
  }
  main .explore-container .explore-card a {
    justify-content: flex-start;
    text-align: left;
  }
  main .cta-card {
    max-width: 1040px;
    padding: 0 33px;
    margin: 70px auto;
    justify-content: space-between;
  }
  main .cta-card .cta-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  main .cta-card .cta-card-content h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 45px;
    letter-spacing: -0.045em;
    max-width: 520px;
  }
  main .cta-card .cta-card-content p {
    max-width: 520px;
  }
  main .cta-card img {
    width: 400px;
  }
  main .faqs-container .faqs .question-container p {
    font-size: 18px;
  }
  footer {
    padding-bottom: 48px;
  }
  footer .footer-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .tobelist {
    align-items: flex-start;
    margin-bottom: 56px;
  }
  footer .tobelist p {
    max-width: 405px;
    text-align: left;
  }
  footer .footer-end .additional-links p,
footer .footer-end .additional-links a {
    font-size: 12px;
  }
  footer .footer-link {
    display: flex;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    max-width: auto;
  }
  footer .footer-link .team {
    margin: 0 30px;
  }
}/*# sourceMappingURL=main.css.map */