$primary: #195BFF;
$gray: #AAAAAA;
$border-radius:12px;
$body-02: 16px;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.grey {
    color: $gray;
}
.silected-slide {
    background: #195BFF !important;
}
.plus-rotate {
    transform: rotate( 
            270deg) !important;
}
.hide {
    display: none;

}
button {
    outline: none;
    border: none;
    border-radius: $border-radius;
    background-color: $primary;
    color: white;
    font-size: $body-02 ;
    font-weight: 500;
    padding: 9.5px 28.4px;
    line-height: 175%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    text-align: center;
 }
 h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 77px;
    text-align: center
 }
 h3 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
 }
 .container {
     max-width: 1280px;
     margin: 0 auto;
     width: 98%;
 }
 .title-01 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
 }
 
 .title-02 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
 }
 
 .body-01 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
 }
 .body-02 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;

 }
 .body-03 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
 }
 .blue-and {
     color: $primary;
 }

.background-blue {
    background-color: $primary;
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-cta {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .menu {
            margin-right:40px ;
            border-right: 1px $gray solid;
            
            a {
                margin-right: 40px;
            }

        }
        .cta {
            a {
                margin-right: 40px;
            }
        }
    }
}
header {
    margin: 90px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 h1 {
     margin: 108px;
 }

}
.features-section {
    margin: 0 auto;
       h2 {
            margin-bottom: 120px;
        }
    .cards {
     
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        .card {
            width: 580px;
            height: 545px;
            margin-bottom: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
            h3 {
                width: 295px;
                text-align: center;
                margin: 23px 0;
            }
            p {
                color: $gray;
                font-weight: 400;
                width: 380px;
            }
        }
    }
}
// .review-conatiner {
//     overflow: hidden;
//     max-width: 1320px;
//     height:520px ;
//     margin: 0 auto;
//     position: relative;
// }
// .reviews-section {
    

//     .reviews {
//         position: absolute;
//         display: flex;
//         justify-content: center;
//         transition: all 500ms ease-in-out;
//         margin: 120px auto;
//         .user-review {
//             p {
//                 text-align: left;
//             }
//             margin: 0 15px;
//             width: 624px;
//             height: 370px;
//             background: white;
//             box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
//             border-radius: $border-radius;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             .user {
//                 width: 287px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: flex-start;
//                 margin-bottom: 40px;
//                 p {
//                     margin: 0 12px;
//                 }
//             }
//             p {
//                 width: 532px;
//             }
//         }

//     }
// }


.reviews-section {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    height: 420px ;
    transition: all 500ms ease-in-out;

}
.review-container {
    overflow: hidden;
    max-width: 1320px;
    margin: 0 auto;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transition: 800ms ease-in-out;

}
.card-review {
    margin: 15px;
    width: 624px;
    height: 370px;
    background: white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        text-align: left;
 }
 .user {
                    width: 287px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 40px;
                    p {
                        margin: 0 12px;
                    }
                }

                p {
                                    width: 532px;
                                }


}


.slider-buttons {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    // grid-column-start: 1;
    // grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .empty-div {
        width: 175px;
        height: 100px;   
    }
    .lines {
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            width: 45px;
            height: 6px;
            background-color: $gray;
            margin: 0 12px;
            cursor: pointer;
        }
     
    }
    .buttons {
       display: flex;
       justify-content: flex-end; 
       align-items: center;
       width: 175px;
       height: 100px;    
    }
}
.cta-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        font-size: 64px;
        margin: 65px 0;
    }
    a {
        display: flex;
        align-items: center;
        img {
            margin-left: 5px;
        }

    }
}
.faq {
  
    margin: 200px auto;
    max-width: 896px;



    h2 {

            margin-bottom: 58px ;
   
    }
    .faqs {
        margin-top: 12px;
        width: 100%;
        padding: 35px;
        padding: 24px 35px;
        border: 2px solid rgba(224, 224, 224, 0.47);
        box-sizing: border-box;
        border-radius: $border-radius;

        .body-02 {
            color: $gray;
            margin-top: 25px;
            text-align: left;

         }

    }
    .questions {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
        .question {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .plus {
                position: relative;
                cursor: pointer;
                .line:first-of-type  {
                    position: absolute;
                    background-color: $primary;
                    width: 3px;
                    height: 20px;
                    border-radius: 3px;
                    transform: rotate(90deg);


                }
                .line  {
                    background-color: $primary;
                    width: 3px;
                    height: 20px;
                    border-radius: 3px;
                    transition: 200ms ease-in-out;
                }
            }
        }
    }
}
footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;

    .subscribe {
        max-width: 1280px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-email {
            h3 {
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 64px;
                color: white;
                width: 608px;    
            }
            form {
                position: relative;
            }
            button {
                position: absolute;
                top: 85px;
                right: 100px;
            }
            input {
                margin: 75px 0;
                padding-left: 12px;
                width: 518px;
                height: 68px;
                border: 2px solid rgba(170, 170, 170, 0.2);
                box-sizing: border-box;
                border-radius: 12px;
                background: none;
                transition: .2s ease-in-out;
                color: white;
            }
            input:focus {
                outline: 1px $primary;
                border: 2px solid $primary;
            }

        }
    }
    .footer-nav {
        width: 100%;
        max-width: 1280px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu-cta {
            display: flex;
            align-items: center;
            justify-content: center;
            .menu {                
                a {
                    margin:0  20px;
                    color: white;

                }
    
            }
          
        }
    }
}