$primary: #195BFF;
$gray: #AAAAAA;
$border-radius:12px;
$body-02: 16px;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
button {
    outline: none;
    border: none;
    border-radius: $border-radius;
    background-color: $primary;
    color: white;
    font-size: $body-02 ;
    font-weight: 500;
    padding: 9.5px 28.4px;
    line-height: 175%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    text-align: center;
 }
 h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 77px;
    text-align: center
 }
 .container {
     max-width: 1280px;
     margin: 0 auto;
     width: 98%;
 }
 .title-01 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
 }
 
 .title-02 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
 }
 
 .body-01 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
 }
 .body-02 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
 }
 .body-03 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
 }
 .blue-and {
     color: $primary;
 }

nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-cta {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .menu {
            margin-right:40px ;
            border-right: 1px $gray solid;
            
            a {
                margin-right: 40px;
            }

        }
        .cta {
            a {
                margin-right: 40px;
            }
        }
    }
}
header {
    margin: 90px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 h1 {
     margin: 108px;
 }

}