$primary: #195bff;
$primary-hover: #1752E6;
$primary-active: #1449CC;

$dark: #252525;
$gray: #aaaaaa;
$body-gray: #313234;
$border-radius: 32px;
$body-02: 16px;
$med-max-width: 1280px;


$main-transition: all .1s ease-in-out;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: $dark;
}

.hide-for-desktop {
  display: none;
}

button {

  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  //letter-spacing: -0.035em;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 48px;
  border-radius: $border-radius;
  width: 100%;
  transition: $main-transition;

  &:hover {
    background-color: $primary-hover !important;
  }

  &:active {
    background-color: $primary-active !important;
    transform: scale(0.98);
  }
}


a {
  color: #252525;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  max-width: $med-max-width;


  img {
    cursor: pointer;
  }


  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $main-transition;

    &:active {
      transform: scale(0.98);
    }
  }

  .menu-cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu {
      margin-right: 40px;
      border-right: 1px $gray solid;

      a {
        margin-right: 40px;
        font-weight: 500;
      }
    }

    .cta {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        margin-right: 40px;
        font-weight: 500;
      }

      button {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        gap: 10px;
        width: 144px;
        height: 40px;
        background: $primary;
        border-radius: 32px;
      }
    }
  }

}

header {
  max-width: $med-max-width;
  margin-top: 56px;
  margin-bottom: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 456.38px;
    height: 482.5px;
  }

  .header-content {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
  }

  button {
    background: #195bff;
    border-radius: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 328px;
  }

  p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    width: 624px;
    /* or 178% */
    /* Gray/Dark :hover */

    color: $body-gray;
  }

  > p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .numbers {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    .num {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 38px;
        /* identical to box height */

        text-align: center;

        /* Gray/Dark :hover */

        color: $body-gray;
        margin-bottom: 8px;
      }

      p {
        width: 100%;
        font-weight: 500;
        font-size: 13.33px;
        line-height: 16px;
        text-align: center;
        color: #444649;
      }
    }
  }
}