* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #252525;
  overflow-x: hidden;
}

.hide-for-desktop {
  display: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 48px;
  border-radius: 32px;
  width: 100%;
  transition: all 0.1s ease-in-out;
}
button:hover {
  background-color: #1752E6 !important;
}
button:active {
  background-color: #1449CC !important;
  transform: scale(0.98);
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.04em;
}

a {
  color: #252525;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  max-width: 1280px;
}
nav img, nav svg {
  cursor: pointer;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}
nav .logo:active {
  transform: scale(0.98);
}
nav .menu-cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .menu-cta .menu {
  margin-right: 40px;
  border-right: 1px #aaaaaa solid;
}
nav .menu-cta .menu a {
  margin-right: 40px;
  font-weight: 500;
}
nav .menu-cta .cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu-cta .cta a {
  margin-right: 40px;
  font-weight: 500;
}
nav .menu-cta .cta button {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  width: 144px;
  height: 40px;
  background: #195bff;
  border-radius: 32px;
}

header {
  max-width: 1280px;
  margin-top: 72px;
  margin-bottom: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header img, header svg {
  width: 512px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
header img:active, header svg:active {
  transform: scale(0.99);
}
header .header-content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
header h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}
header > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}
header button {
  background: #195bff;
  border-radius: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: white;
  width: 328px;
}
header p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 512px;
  color: #313234;
}
header .numbers {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
header .numbers .num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .numbers .num h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  /* Gray/Dark :hover */
  color: #313234;
  margin-bottom: 8px;
}
header .numbers .num p {
  width: 100%;
  font-weight: 500;
  font-size: 13.33px;
  line-height: 16px;
  text-align: center;
  color: #444649;
}

.color1 {
  background: linear-gradient(-45deg, rgb(193, 233, 255), #F4F5F6, #E1FCFF, rgb(189, 231, 255));
}

.color2 {
  background: linear-gradient(-45deg, #ECEAFB, #ECF7FC, #F0EDFE, #E9E8FB);
}

.color3 {
  background: linear-gradient(135deg, #c2ebff 5.66%, #E8EFFF 100%);
}

.color4 {
  background: linear-gradient(-45deg, rgb(228, 239, 255), #F4F5F6, rgba(225, 240, 255, 0.67), rgb(229, 241, 255));
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main h2 {
  color: #151617;
}

.explore,
.reviews {
  width: 100vw;
  overflow: hidden;
}

.explore-section {
  width: 100%;
  height: 704px;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explore-section h2 {
  margin-bottom: 16px;
  font-weight: 600;
}
.explore-section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #313234;
  margin: 0 auto 48px;
}
.explore-section picture, .explore-section img, .explore-section svg {
  margin: 0 auto;
}

.demo-section {
  margin: 136px auto;
}
.demo-section .title-description {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1280px;
}
.demo-section .title-description h3 {
  font-size: 40px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #252525;
}
.demo-section .title-description h3 span {
  color: #195bff;
}
.demo-section .title-description p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #313234;
  max-width: 516px;
}
.demo-section .video-container {
  position: relative;
  overflow: hidden;
  margin-top: 56px;
}
.demo-section .video-container .play-button {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  position: absolute;
  right: 50%;
  top: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.demo-section .video-container .play-button:active {
  transform: scale(0.92);
}

.cta-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 88px 112px;
  border-radius: 16px;
  max-width: 1280px;
}
.cta-section h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: #151617;
  max-width: 414px;
}
.cta-section h4 span {
  color: #195bff;
  background: none;
}
.cta-section p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #313234;
  max-width: 405px;
}
.cta-section a {
  transition: all 0.1s ease-in-out;
}
.cta-section a:active {
  transform: scale(0.96);
}

.devices-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 152px 0;
}
.devices-section h4 {
  max-width: 304px;
  max-height: 80px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: #252525;
  margin-bottom: 24px;
}
.devices-section h4 span {
  color: #195bff;
}
.devices-section p {
  width: 405px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #313234;
}

.faqs-container {
  width: 100%;
  margin: 136px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faqs-container h2 {
  color: #252525;
  margin-bottom: 24px;
}
.faqs-container p {
  margin-bottom: 58px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #313234;
  text-align: center;
}
.faqs-container a {
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}
.faqs-container a:hover {
  font-style: italic;
}
.faqs-container > p {
  font-size: 18px;
}

.faqs {
  width: 95%;
  max-width: 890px;
  margin: 0 auto;
}
.faqs .question-border-wrap {
  cursor: pointer;
  padding: 2px 3px;
}
.faqs .question-border-wrap:not(:last-child) {
  margin-bottom: 24px;
}
.faqs .show-question {
  height: calc(0% + 50px) !important;
}
.faqs .rotate-line {
  transform: rotate(90deg) !important;
}
.faqs .question-container {
  height: 64px;
  overflow: hidden;
  background: #fcfcfc;
  outline: 1px solid #E0E0E0;
  border-radius: 8px;
}
.faqs .question-container .faqs-text {
  font-size: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  color: #505050 !important;
  margin: 0 16px;
  line-height: 175%;
  text-align: left;
}
.faqs .question-container p {
  color: #353535;
  text-align: left;
  margin: 0 16px 16px;
  padding-bottom: 16px;
}
.faqs .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.faqs .question p {
  margin: 16px;
  font-size: 18px;
  padding-bottom: 0;
  color: black;
}
.faqs .question .plus {
  position: relative;
  cursor: pointer;
  margin-right: 24px;
  width: 16px;
  height: 16px;
}
.faqs .question .plus .line {
  background-color: #195bff;
  position: absolute;
  right: 7px;
  width: 3px;
  height: 16px;
  border-radius: 3px;
  transition: 200ms ease-in-out;
}
.faqs .question .plus .line:first-of-type {
  right: 7px;
  transform: rotate(90deg);
}

footer {
  position: relative;
  width: 100%;
  background: white;
  padding: 80px 0 25px;
}
footer .tobelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .tobelist p {
  margin-top: 16px;
  max-width: 95%;
  text-align: center;
  font-weight: 500;
  line-height: 175%;
  /* or 32px */
  color: #313234;
}
footer .footer-link {
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 56px auto;
  justify-content: flex-start;
}
footer .footer-link .team {
  margin: 0;
}
footer .footer-link .team,
footer .footer-link .company,
footer .footer-link .help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .footer-link p {
  margin-bottom: 24px;
  color: #313234;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height, or 88% */
  text-transform: capitalize;
}
footer .footer-link a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  text-transform: capitalize;
  margin-bottom: 16px;
  color: #313234;
  transition: all 0.3s ease-in-out;
}
footer .footer-link a:hover {
  color: rgba(49, 50, 52, 0.85);
  text-decoration: underline;
}
footer .email-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 56px;
}
footer .email-cta p {
  margin-bottom: 16px;
  text-transform: capitalize;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #313234;
}
footer .footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-end .additional-links {
  width: 100%;
  max-width: 1280px;
  border-top: 1px solid #313234;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
}
footer .footer-end .additional-links p {
  font-size: 10px;
  color: 16px;
  font-weight: 500;
}
footer .footer-end .additional-links a {
  font-size: 10px;
  font-weight: 500;
  color: 16px;
  transition: all 0.3s ease-in-out;
}
footer .footer-end .additional-links a:hover {
  color: #565656;
  text-decoration: underline;
}
footer .footer-end .additional-links a:first-of-type {
  margin-right: 5px;
}
footer form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  width: 405px;
}
footer input {
  position: absolute;
  padding-left: 24px;
  width: 405px;
  height: 56px;
  border: 2px solid #313234;
  box-sizing: border-box;
  border-radius: 32px;
  background: none;
  transition: 0.2s ease-in-out;
  color: 16px;
}
footer input:focus {
  outline: 1px #464646;
  border: 2px solid #464646;
}
footer button {
  position: absolute;
  right: 2%;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  padding: 16px 40px;
  width: 112px;
  height: 40px;
  background: #195bff;
  transition: 0.5s ease;
}
footer footer .tobelist p {
  max-width: 90%;
}
footer footer .footer-link {
  justify-content: space-between;
  max-width: 80%;
}
footer footer .footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}
footer footer .footer-end .additional-links {
  width: 1280px;
  border-top: 1px solid #313234;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
}
footer footer .footer-end .additional-links p {
  font-size: 10px;
  color: #313234;
}
footer footer .footer-end .additional-links a {
  font-size: 10px;
  color: #313234;
}
footer footer form,
footer footer input {
  width: 405px !important;
}
footer footer button {
  right: 2%;
}

footer {
  padding-bottom: 48px;
}
footer .footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .tobelist {
  align-items: flex-start;
  margin-bottom: 56px;
}
footer .tobelist p {
  max-width: 405px;
  text-align: left;
}
footer .footer-end .additional-links p,
footer .footer-end .additional-links a {
  font-size: 12px;
}
footer .footer-link {
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}
footer .footer-link .team {
  margin: 0 30px;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*# sourceMappingURL=main.css.map */
