* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #252525;
  overflow-x: hidden;
}

.hide-for-desktop {
  display: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 48px;
  border-radius: 32px;
  width: 100%;
  transition: all 0.1s ease-in-out;
}
button:hover {
  background-color: #1752E6 !important;
}
button:active {
  background-color: #1449CC !important;
  transform: scale(0.98);
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.04em;
}

a {
  color: #252525;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  max-width: 1280px;
}
nav img {
  cursor: pointer;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}
nav .logo:active {
  transform: scale(0.98);
}
nav .menu-cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .menu-cta .menu {
  margin-right: 40px;
  border-right: 1px #aaaaaa solid;
}
nav .menu-cta .menu a {
  margin-right: 40px;
  font-weight: 500;
}
nav .menu-cta .cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu-cta .cta a {
  margin-right: 40px;
  font-weight: 500;
}
nav .menu-cta .cta button {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  width: 144px;
  height: 40px;
  background: #195bff;
  border-radius: 32px;
}

header {
  max-width: 1280px;
  margin-top: 72px;
  margin-bottom: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 512px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
header img:active {
  transform: scale(0.99);
}
header .header-content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
header h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  text-align: left;
}
header > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}
header button {
  background: #195bff;
  border-radius: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: white;
  width: 328px;
}
header p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 512px;
  color: #313234;
}
header .numbers {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
header .numbers .num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .numbers .num h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  /* Gray/Dark :hover */
  color: #313234;
  margin-bottom: 8px;
}
header .numbers .num p {
  width: 100%;
  font-weight: 500;
  font-size: 13.33px;
  line-height: 16px;
  text-align: center;
  color: #444649;
}

.color1 {
  background: linear-gradient(-45deg, #C1E9FF, #F4F5F6, #E1FCFF, #BDE7FF);
}

.color2 {
  background: linear-gradient(-45deg, #ECEAFB, #ECF7FC, #F0EDFE, #E9E8FB);
}

.color3 {
  background: linear-gradient(135deg, #F0FAFF 5.66%, #E8EFFF 100%);
}

.background-animation {
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main h2 {
  color: #151617;
}
main .explore,
main .reviews {
  width: 100vw;
  overflow: hidden;
}
main .explore-section {
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
main .explore-section h2 {
  margin-bottom: 16px;
}
main .explore-section p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  color: #313234;
  margin: 0 auto 64px;
}
main .explore-section img {
  width: 1440px;
  height: 455px;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.1));
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*# sourceMappingURL=main.css.map */
