$primary: #195bff;
$primary-hover: #1752E6;
$primary-active: #1449CC;

$dark: #252525;
$gray: #aaaaaa;
$body-gray: #313234;
$border-radius: 32px;
$body-02: 16px;
$med-max-width: 1280px;


$main-transition: all .1s ease-in-out;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: $dark;
  overflow-x: hidden;
}

.hide-for-desktop {
  display: none;
}

button {

  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  //letter-spacing: -0.035em;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 48px;
  border-radius: $border-radius;
  width: 100%;
  transition: $main-transition;

  &:hover {
    background-color: $primary-hover !important;
  }

  &:active {
    background-color: $primary-active !important;
    transform: scale(0.98);
  }

  //&:focus {
  //  outline: 4px solid $body-gray;
  //  outline-offset: 2px;
  //}
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.04em;
}


a {
  color: #252525;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  max-width: $med-max-width;


  img {
    cursor: pointer;
  }


  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $main-transition;

    &:active {
      transform: scale(0.98);
    }
  }

  .menu-cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu {
      margin-right: 40px;
      border-right: 1px $gray solid;

      a {
        margin-right: 40px;
        font-weight: 500;
      }
    }

    .cta {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        margin-right: 40px;
        font-weight: 500;
      }

      button {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        gap: 10px;
        width: 144px;
        height: 40px;
        background: $primary;
        border-radius: 32px;
      }
    }
  }

}

header {
  max-width: $med-max-width;
  margin-top: 72px;
  margin-bottom: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 512px;
    transition: $main-transition;
    cursor: pointer;

    &:active {
      transform: scale(0.99);
    }
  }

  .header-content {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
  }

  h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    text-align: left;
  }

  > p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  button {
    background: $primary;
    border-radius: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: white;
    width: 328px;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 512px;
    color: $body-gray;
  }


  .numbers {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    .num {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 38px;
        /* identical to box height */

        text-align: center;

        /* Gray/Dark :hover */

        color: $body-gray;
        margin-bottom: 8px;
      }

      p {
        width: 100%;
        font-weight: 500;
        font-size: 13.33px;
        line-height: 16px;
        text-align: center;
        color: #444649;
      }
    }
  }
}


.color1 {
  background: linear-gradient(-45deg, rgba(193, 233, 255, 0.24), #F4F5F6, #E1FCFF, rgba(189, 231, 255, 0.53));
}

.color2 {
  background: linear-gradient(-45deg, #ECEAFB, #ECF7FC, #F0EDFE, #E9E8FB);
}

.color3 {
  background: linear-gradient(135deg, #c2ebff 5.66%, #E8EFFF 100%);
}

.color4 {
  background: linear-gradient(135deg, rgba(103, 207, 255, 0.1) 5.66%, rgba(25, 91, 255, 0.1) 100%);
}


.background-animation {
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  h2 {
    color: #151617;
  }
}

.explore,
.reviews {
  //background-color: #252525;
  width: 100vw;
  overflow: hidden;
}

.explore-section {
  width: 100%;
  height: 704px;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 16px;
    font-weight: 600;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #313234;
    margin: 0 auto 48px;
  }

  img {
    margin: 0 auto;

    //filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.10));
  }
}

.demo-section {
  margin: 136px auto;

  .title-description {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;

    h3 {

      font-size: 40px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: -0.04em;
      color: #252525;

      span {
        color: $primary;
      }
    }

    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $body-gray;
      max-width: 516px;
    }
  }

  .video-container {
    position: relative;

    .play-button {
      width: 64px;
      height: 64px;
      border-radius: 64px;

      position: absolute;
      right: 50%;
      top: 50%;

      cursor: pointer;
      transition: $main-transition;

      &:active {
        transform: scale(.92);
      }
    }

    overflow: hidden;
    margin-top: 56px;
  }
}

.cta-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 88px 112px;
  border-radius: 16px;
  max-width: $med-max-width;

  h4 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #151617;
    max-width: 414px;

    span {
      color: #195bff;
    }
  }

  p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $body-gray;
    max-width: 405px;
  }

  a {
    transition: $main-transition;

    &:active {
      transform: scale(.96);
    }
  }

}


.devices-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 152px 0;

  h4 {
    max-width: 304px;
    max-height: 80px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: $dark;
    margin-bottom: 24px;

    span {
      color: $primary;
    }
  }

  p {
    width: 405px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: $body-gray;
  }


}

.faqs-container {
  width: 100%;
  margin: 136px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #252525;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 58px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #313234;
    text-align: center;
  }

  a {
    text-decoration: underline;
    transition: 0.2s ease-in-out;

    &:hover {
      font-style: italic;
    }
  }

  > p {
    font-size: 18px;
  }
}

.faqs {
  width: 95%;
  max-width: 890px;
  margin: 0 auto;

  .question-border-wrap {
    cursor: pointer;
    padding: 2px 3px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .show-question {
    height: calc(0% + 50px) !important;
  }

  .rotate-line {
    transform: rotate(90deg) !important;
  }

  .question-container {
    height: 64px;
    overflow: hidden;
    background: #fcfcfc;
    outline: 1px solid #E0E0E0;
    border-radius: 8px;


    .faqs-text {
      font-size: 16px;
      padding-left: 16px;
      padding-bottom: 16px;
      color: #505050 !important;
      margin: 0 16px;
      line-height: 175%;
      text-align: left;

    }

    p {
      color: #353535;
      text-align: left;
      margin: 0 16px 16px;
      padding-bottom: 16px;
    }
  }

  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;

    p {
      margin: 16px;
      font-size: 18px;
      padding-bottom: 0;
      color: black;
    }

    .plus {
      position: relative;
      cursor: pointer;
      margin-right: 24px;
      width: 16px;
      height: 16px;

      .line {
        background-color: $primary;
        position: absolute;
        right: 7px;
        width: 3px;
        height: 16px;
        border-radius: 3px;
        transition: 200ms ease-in-out;

        &:first-of-type {
          right: 7px;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}